<div class="root-container">
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="text-center">
                    <h1>Login</h1>
                    <h6>Please enter email & password !</h6>
                </div>
                    <form [formGroup]="loginForm" (ngSubmit)="login()">
                        <div class="mb-3">
                          <label for="exampleInputEmail1" class="form-label">Email address <span style="color: red;">*</span></label>
                          <input formControlName="email" type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email" aria-describedby="emailHelp">
                          <span style="color: red;" *ngIf="!loginForm.controls['email'].valid && loginForm.controls['email'].touched &&
                           loginForm.controls['email'].errors?.['required']">This field is required!</span>
                          <div id="emailHelp" style="color: #fff;" class="form-text">We'll never share your email with anyone else.</div>
                        </div>
                        <div class="mb-3">
                          <label for="exampleInputPassword1" class="form-label">Password <span style="color: red;">*</span></label>
                          <input formControlName="password" type="password" placeholder="Enter password" class="form-control" id="exampleInputPassword1">
                          <span style="color: red;" *ngIf="!loginForm.controls['password'].valid && loginForm.controls['password'].touched &&
                           loginForm.controls['password'].errors?.['required']">This field is required!</span>
                        </div>
                        <button type="submit" class="btn btn-primary mb-2">Login</button>
                      </form>
                      <a style="color: #fff;margin-top: 10px;" routerLink="/signup">New user? click to signup!</a>
            </div>
        </div>
    </div>
</div>
</div>