.example-card {
    max-width: 800px;
    display:block;
    margin: 0 auto;
  }
  
.example-header-image {
  background-image:url('../../assets/istockphoto-1320144030-170667a.jpg');
  background-size: cover;
  }
.example-spacer {
    flex: 1 1 auto;
} 