.card{
    border: none;
    width: 500px;
    padding: 40px;
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    background: hsla(205, 46%,30% , 1);
    background: linear-gradient(rgb(0, 0, 0) 0%, rgb(34, 65, 94) 100%);
}

.card  h1,
h6 {
    color: #fff;
}

label{
    color: #fff;
}

.root-container{
    width: 100vw;
    height: 100vh;
    background-image:url('../../assets/istockphoto-1320144030-170667a.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}