<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="text-center">
                    <h1>Signup</h1>
                    <h6>Please enter details!</h6>
                </div>
                    <form [formGroup]="signupForm" (ngSubmit)="signUp()">
                        <div class="mb-3">
                          <label for="exampleInputEmail1" class="form-label">Full name</label>
                          <input formControlName="fullname" type="email" placeholder="Enter full name" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                          <div id="emailHelp" style="color: #fff;" class="form-text">We'll never share your email with anyone else.</div>
                        </div>
                        <div class="mb-3">
                            <label for="exampleInputEmail1" class="form-label">Mobile no.</label>
                            <input formControlName="mobile" placeholder="Enter mobile" type="number" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                            <div id="emailHelp" style="color: #fff;" class="form-text">We'll never share your email with anyone else.</div>
                          </div>
                        <div class="mb-3">
                          <label for="exampleInputEmail1" class="form-label">Email address</label>
                          <input formControlName="email"  type="email" placeholder="Enter email" class="form-control" id="exampleInputEmail1">
                        </div>
                        <div class="mb-3">
                            <label for="exampleInputEmail1" class="form-label">Password</label>
                            <input formControlName="password" placeholder="Enter password" type="password" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                            <div id="emailHelp" style="color: #fff;" class="form-text">We'll never share your email with anyone else.</div>
                          </div>
                        <button type="submit" class="btn btn-primary mb-2">Signup</button>
                      </form>
                      <a style="color: #fff;margin-top: 10px;" routerLink="/login">Already registered? click to Login!</a>
            </div>
        </div>
    </div>
</div>