<div class="root-container">
<mat-toolbar color="primary">

  <h1 style="cursor: pointer;" routerLink="/home">Gym Registraion</h1>&nbsp;&nbsp;&nbsp;
  <button routerLink="/home" mat-raised-button color="accent">
    Home
  </button>
  <span class="example-spacer"></span>

  <button routerLink="/list" mat-raised-button color="accent">
    View Enquiries
  </button>
  <button routerLink="/login" class="btn btn-danger mx-2">
    Logout
  </button>
</mat-toolbar>
<div class="container mt-4 pt-3" style="background-color: white;">
<div class="logo text-center">
  <!-- <img width="300" src="assets/gymlogo.png" alt=""> -->
  <h1>Enter Contact and Other details</h1>
</div>

<div class="registration-form m-3 p-4" >
    <form [formGroup]="registerForm">
        <div class="row">
            <div class="col-md-6 pb-2">
                <mat-form-field appearance="outline">
                    <mat-label>First Name</mat-label>
                    <input formControlName="firstName" matInput placeholder="Firstname">
                    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                    <mat-error  *ngIf="registerForm?.controls?.['firstName']?.status === 'INVALID'">Please enter First Name!</mat-error>
                  </mat-form-field>

            </div>
            <div class="col-md-6 pb-2">
                <mat-form-field appearance="outline">
                    <mat-label>Last Name</mat-label>
                    <input formControlName="lastName" matInput placeholder="Lastname">
                    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                    <mat-error  *ngIf="registerForm?.controls?.['lastName']?.status === 'INVALID'">Please enter Last Name!</mat-error>
                  </mat-form-field>
            </div>
            <div class="col-md-6 pb-2">
                <mat-form-field appearance="outline">
                    <mat-label>Email</mat-label>
                    <input formControlName="email" matInput placeholder="Email">
                    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                    <mat-error  *ngIf="registerForm?.controls?.['email']?.status === 'INVALID'">Please enter Email!</mat-error>
                  </mat-form-field>
            </div>
            <div class="col-md-6 pb-2">
                <mat-form-field appearance="outline">
                    <mat-label>Mobile</mat-label>
                    <input formControlName="mobile" matInput placeholder="Mobile">
                    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                    <mat-error  *ngIf="registerForm?.controls?.['mobile']?.status === 'INVALID'">Please enter Mobile!</mat-error>
                  </mat-form-field>
            </div>
            <div class="col-md-6 pb-2">
                <mat-form-field appearance="outline">
                    <mat-label>Weight</mat-label>
                    <input type="number" formControlName="weight" matInput placeholder="weight">
                    <mat-icon matSuffix>line_weight</mat-icon>
                    <mat-hint>Unit is KGs</mat-hint>
                    <mat-error  *ngIf="registerForm?.controls?.['weight']?.status === 'INVALID'">Please enter Weight!</mat-error>
                  </mat-form-field>
            </div>
            <div class="col-md-6 pb-2">
                <mat-form-field appearance="outline">
                    <mat-label>Height</mat-label>
                    <input [readonly]="!this.registerForm.value?.weight" type="number" formControlName="height" matInput placeholder="height">
                    <mat-icon matSuffix><i class="fa fa-text-height" aria-hidden="true"></i></mat-icon>
                    <mat-hint>Unit is meters</mat-hint>
                    <mat-error  *ngIf="registerForm?.controls?.['height']?.status === 'INVALID'">Please enter Height!</mat-error>
                  </mat-form-field>
            </div>
            <div class="col-md-6 pb-2">
                <mat-form-field appearance="outline">
                  <mat-label>BMI</mat-label>
                  <input readonly type="number" formControlName="bmi" matInput placeholder="BMI">
                  <mat-icon matSuffix><i class="fa fa-sort-numeric-desc" aria-hidden="true"></i></mat-icon>
                </mat-form-field>
              </div>
              <div class="col-md-6 pb-2">
                <mat-form-field appearance="outline">
                  <mat-label>BMI Result</mat-label>
                  <input readonly formControlName="bmiResult" matInput placeholder="BMI Result">
                  <mat-icon matSuffix><i class="fa fa-check" aria-hidden="true"></i></mat-icon>
                </mat-form-field>
              </div>
            <div class="col-md-6 mt-3 ">
                <label id="example-radio-group-label">Do you require trainer?</label>
                <mat-radio-group formControlName="requireTrainer" class="example-radio-group">
                    <mat-radio-button class="example-radio-button" *ngFor="let trainerOpt of ['Yes','No']" [value]="trainerOpt">
                       {{trainerOpt}}
                    </mat-radio-button>
                </mat-radio-group>
                <div>Selected option is: {{this.registerForm.value?.requireTrainer}} </div>
            </div>
            <div class="col-md-6 mt-3">
                <label id="example-radio-group-label">Gender:</label>
                <mat-radio-group formControlName="gender" class="example-radio-group">
                    <mat-radio-button class="example-radio-button" *ngFor="let gender of genders" [value]="gender">
                       {{gender}}
                    </mat-radio-button>
                </mat-radio-group>
                <div>Selected gender is: {{this.registerForm.value?.gender}} </div>
            </div>
            <div class="col-md-6 mt-4 pb-2">
                <mat-form-field appearance="outline">
                    <mat-label>Select Package</mat-label>
                    <mat-select formControlName="package">
                      <mat-option *ngFor="let package of packages" [value]="package">
                        {{package}}
                      </mat-option>
                    </mat-select>
                    <mat-error  *ngIf="registerForm?.controls?.['package']?.status === 'INVALID'">Please select Package!</mat-error>
                  </mat-form-field>
            </div>
            <div class="col-md-6 mt-4 pb-2">
                <mat-form-field appearance="outline">
                    <mat-label>Which of the following is important to you?</mat-label>
                    <mat-select formControlName="important" multiple>
                      <mat-option *ngFor="let important of importantList" [value]="important">
                        {{important}}
                      </mat-option>
                    </mat-select>
                    <mat-error  *ngIf="registerForm?.controls?.['important']?.status === 'INVALID'">Please select Option!</mat-error>
                  </mat-form-field>
            </div>
            <div class="col-md-6">
                <label id="example-radio-group-label">Have been Gym before?</label>
                <mat-radio-group formControlName="haveGymBefore"  class="example-radio-group">
                    <mat-radio-button class="example-radio-button" *ngFor="let beenGym of ['Yes','No']" [value]="beenGym">
                       {{beenGym}}
                    </mat-radio-button>
                </mat-radio-group>
                <div>Selected option is: {{this.registerForm.value?.haveGymBefore}}</div>
            </div>
            <div class="col-md-6 pb-2">
                <mat-form-field appearance="outline">
                    <mat-label>Enquiry date</mat-label>
                    <input formControlName="enquiryDate"  matInput [matDatepicker]="picker">
                    <mat-hint>MM/DD/YYYY</mat-hint>
                    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                    <mat-error  *ngIf="registerForm?.controls?.['enquiryDate']?.status === 'INVALID'">Please enter Date!</mat-error>
                  </mat-form-field>
            </div>
        </div>
        <button *ngIf="!isUpdateActive" (click)="submit()" class="mt-4" mat-raised-button color="accent">Submit</button>
        <button *ngIf="isUpdateActive" (click)="update()" class="mt-4" mat-raised-button color="accent">Update</button>&nbsp;&nbsp;&nbsp;
        <button *ngIf="showCancel" [routerLink]="['/list']" class="mt-4" mat-raised-button color="accent">Cancel</button>

    </form>
</div>
</div>