mat-toolbar{
    width: 100%;
  }
.example-spacer {
    flex: 1 1 auto;
} 

.example-spacer {
  flex: 1 1 auto;
}

.root-container{
  width: 100vw;
  height: 100vh;
  background-image:url('https://www.gymconcepts.com/cdn/shop/articles/Hybridity-in-Practice-at-Eden-Fitness_1000x.jpg?v=1486128791');
  background-size: 100% 100%;
  background-repeat: no-repeat;
}